<tui-root>
  <div class="container-sm my-5">
    <div class="row justify-content-lg-center mb-4">
      <div class="col-lg-4">
        <h2 class="tui-text_h2 text-center">ВМЕТРЕ</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-11 justify-content-lg-center">
        <tui-stepper [activeItemIndex]="currentPageIndex" class="justify-content-md-center">
          <button (click)="onNivagate('/')" tuiStep>
            Загржаем реестр или выписки ЕГРН
          </button>
          <button (click)="onNivagate('/email')" tuiStep>
            Входим в личный кабинет
          </button>
          <button (click)="onNivagate('/actualize')" tuiStep>
            Актуализируем
          </button>
          <button tuiStep>
            Скачиваем обновленный реестр
          </button>
        </tui-stepper>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</tui-root>